<template>
  <footer class="footer has-text-info">
    <div class="content has-text-centered  is-family-secondary is-size-7">
      MVV for BSA
      <b-icon icon="account"> </b-icon>
      <b-icon icon="home"> </b-icon>
      <b-icon icon="facebook"> </b-icon>
    </div>
  </footer>
</template>

<script>
export default {
  name: "footerPage"
};
</script>

<style scoped></style>
