<template>
  <section class="hero is-info welcome is-small">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-fifth">
        <svg width="70" height="70" viewBox="0 0 105 99">
          <g fill="none" fill-rule="evenodd">
            <path
              d="M59.927 76.881c.267.616-.427 1.205-.99.838L29.31 58.376c-2.259-1.299-1.743-3.772 0-4.526l16.585-6.125c.65-.24 1.37.07 1.647.703l12.386 28.453z"
              fill="#FFC712"
            ></path>
            <path
              d="M87.193 73.214L68.999 81.09c-1.16.503-2.546-.125-3.1-1.402L42.465 25.565c-.555-1.28-.061-2.726 1.101-3.23l18.193-7.876c1.16-.502 2.548.125 3.101 1.402l23.436 54.124c.554 1.28.06 2.726-1.102 3.23"
              fill="#00ADEE"
            ></path>
            <path
              d="M39.682 30.034c1.279 2.9 4.213 9.704 5.36 12.368a1.137 1.137 0 01-.646 1.516l-12.679 4.757a.678.678 0 01-.859-.904l7.633-17.73a.65.65 0 011.191-.007M40.351 70.35l-13.924-9.294a1.066 1.066 0 00-1.567.46l-7.976 18.206c-.404.924.53 1.864 1.455 1.465l21.889-9.473a.78.78 0 00.123-1.363"
              fill="#EC1848"
            ></path>
            <path
              d="M40.351 70.35l-13.924-9.294a1.066 1.066 0 00-1.567.46l9.402 12.78 5.966-2.582a.78.78 0 00.123-1.363"
              fill="#C22035"
            ></path>
          </g>
        </svg>
      </div>
      <div class="hero-body column">
        <div class="container">
          <h1 class="title">
            Users dashboard
          </h1>
          <h2 class="subtitle">
            You can add, remove, find and get from net users of application
          </h2>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "headerPage"
};
</script>

<style scoped></style>
