<template>
  <div id="app">
    <header-page />
    <h2 class="title is-3 has-text-primary">List of users</h2>
    <div class="columns">
      <div class="column is-2"></div>
      <div class="column is-8">
        <table
          class="table is-bordered  is-hoverable is-fullwidth has-text-info-dark"
        >
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Email</th>
              <th>Avatar</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, n) in users" v-bind:key="n">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.avatar }}</td>
              <td>
                <b-button type="is-danger" outlined @click="onRemoveUser(n)">
                  Remove
                </b-button>
                <b-button type="is-primary " outlined @click="onEditUser(n)">
                  Edit
                </b-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="column is-2"></div>
    </div>
    <p class="has-text-centered has-text-info">
      We have {{ numberOfUsers }} {{ numberOfUsers > 1 ? "users" : "user" }} in
      list
    </p>
    <div class="columns">
      <div class="column is-2"></div>
      <div class=" column">
        <h3 class="subtitle is-4 has-text-primary">
          Enter information about user and click Add User or use Get from inet
          to fetch data from https://jsonplaceholder.typicode.com/users
        </h3>
      </div>
      <div class="column is-2"></div>
    </div>
    <form @submit.prevent="addUser">
      <div class="columns level">
        <div class="column is-2"></div>
        <div class="column">
          <b-field label="Name" label-position="on-border">
            <b-input
              v-model="newUser.name"
              required
              type="text"
              validation-message="Only letter is allowed"
              pattern="[A-Za-z ]*"
            />
          </b-field>
        </div>
        <div class="column">
          <b-field label="email" label-position="on-border">
            <b-input v-model="newUser.email" type="email" required />
          </b-field>
        </div>
        <div class="column">
          <b-field label="avatar" label-position="on-border">
            <b-input v-model="newUser.avatar" />
          </b-field>
        </div>
        <div class="column">
          <b-button
            tag="input"
            type="is-primary"
            outlined
            native-type="submit"
            value="Add User"
          />
        </div>
        <div class="column is-1">
          <b-button type="is-success" outlined @click="created">
            Get from inet
          </b-button>
        </div>
        <div class="column is-1"></div>
      </div>
    </form>
    <!--    finding users-->
    <section class="section">
      <b-collapse :open="false" aria-id="resultOfFind">
        <button
          class="button is-primary"
          slot="trigger"
          aria-controls="resultOfFind"
        >
          Click to find users!
        </button>
        <div class="notification">
          <div class="content">
            <h3 class="subtitle has-text-primary">
              Enter text in field and choose from dropdown where to find.
            </h3>
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column">
                <b-field label="Text to find" label-position="on-border">
                  <b-input v-model="textToFind" />
                </b-field>
              </div>
              <div class="column">
                <b-field label="Subject" label-position="on-border">
                  <b-select
                    v-model="fieldFind"
                    placeholder="Select a field where find"
                  >
                    <option value="name">Name</option>
                    <option value="email">Email</option>
                  </b-select>
                </b-field>
              </div>
              <div class="column is-4"></div>
            </div>
            <div class="columns">
              <div class="column is-4"></div>
              <div class="column">
                <h4 class="has-text-info">Searching results</h4>
                <ol class="has-text-left">
                  <li v-for="(user, n) in findUserByName" v-bind:key="n">
                    {{ user.name }} email:{{ user.email }}
                  </li>
                </ol>
              </div>
              <div class="column is-4"></div>
            </div>
          </div>
        </div>
      </b-collapse>
    </section>

    <!-- modal for deleting-->
    <div class="modal" v-bind:class="{ 'is-active': existUserToRemove }">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <div class="content has-text-centered">
            <p>
              Are you sure you want to delete user with name
              {{ idUserToRemove != null ? users[idUserToRemove].name : "" }}?
            </p>
            <b-button type="is-danger" outlined @click.prevent="removeUser()">
              <a class="delete is-medium has-background-danger"></a> Yes
            </b-button>
            <b-button type="is-danger" outlined @click="closeDelete"
              >No, Cancel
            </b-button>
          </div>
        </div>
      </div>
      <button @click="closeDelete" class="modal-close"></button>
    </div>
    <!-- modal for editing-->
    <div class="modal" v-bind:class="{ 'is-active': existUserToEdit }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit user</p>
          <button @click="closeEdit" class="modal-close"></button>
        </header>
        <form @submit.prevent="editUser">
          <section class="modal-card-body">
            <b-field label="Name">
              <b-input
                v-bind:value="userForEdit.name"
                v-model="userForEdit.name"
                required
                type="text"
                validation-message="Only letter is allowed"
                pattern="[A-Za-z ]*"
              ></b-input>
            </b-field>
            <b-field label="Email">
              <b-input
                v-bind:value="userForEdit.email"
                v-model="userForEdit.email"
                required
                type="email"
                validation-message="only valid emails"
              ></b-input>
            </b-field>
            <b-field label="Avatar">
              <b-input
                v-bind:value="userForEdit.avatar"
                v-model="userForEdit.avatar"
                type="url"
                validation-message="link to your avatar"
              ></b-input>
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button
              tag="input"
              type="is-success"
              outlined
              native-type="submit"
              value="Save changes"
            />

            <b-button type="is-primary" outlined @click="closeEdit"
              >No, Cancel
            </b-button>
          </footer>
        </form>
      </div>
      <button @click="closeEdit" class="modal-close"></button>
    </div>
    <footerPage />
  </div>
</template>

<script>
import footerPage from "./components/footerPage";
import headerPage from "./components/headerPage";

export default {
  name: "App",
  components: {
    headerPage,
    footerPage
  },
  data: function() {
    return {
      users: [],
      newUser: {
        id: 1,
        name: null,
        email: null,
        avatar: null
      },
      userForEdit: {
        id: null,
        name: null,
        email: null,
        avatar: null
      },
      existUserToRemove: false,
      idUserToRemove: null,
      existUserToEdit: false,
      numberUserToEdit: null,
      errors: [],
      textToFind: "",
      fieldFind: null,
      usersFromNet: []
    };
  },
  computed: {
    numberOfUsers: function() {
      return this.users.length;
    },
    findUserByName: function() {
      //var self = this; by VL
      if (
        this.users.length === 0 ||
        this.fieldFind == null ||
        this.textToFind == ""
      ) {
        return [];
      }
      return this.users.filter(user => {
        return user[this.fieldFind]
          .toLowerCase()
          .includes(this.textToFind.toLowerCase());
      });
    }
  },
  methods: {
    addUser() {
      if (!this.checkForm()) {
        let userNotification =
          "Please check  data about user!" + this.errors.join("");
        this.$buefy.notification.open({
          message: userNotification,
          type: "is-warning"
        });
        this.errors = [];
        return;
      }
      this.users.push(this.newUser);
      this.newUser = {
        id: this.newUser.id + 1,
        name: null,
        email: null,
        avatar: null
      };
      this.saveUsers();
    },
    onEditUser(x) {
      this.existUserToEdit = true;
      this.numberUserToEdit = x;
      this.userForEdit.id = this.users[x].id;
      this.userForEdit.name = this.users[x].name;
      this.userForEdit.email = this.users[x].email;
      this.userForEdit.avatar = this.users[x].avatar;
    },
    editUser() {
      let x = this.numberUserToEdit;
      this.users[x].id = this.userForEdit.id;
      this.users[x].name = this.userForEdit.name;
      this.users[x].email = this.userForEdit.email;
      this.users[x].avatar = this.userForEdit.avatar;
      this.saveUsers();
      this.numberUserToEdit = null;
      this.closeEdit();
    },
    onRemoveUser(x) {
      this.existUserToRemove = true;
      this.idUserToRemove = x;
    },
    removeUser() {
      this.users.splice(this.idUserToRemove, 1);
      this.saveUsers();
      this.idUserToRemove = null;
      this.closeDelete();
    },
    closeDelete() {
      this.existUserToRemove = false;
    },
    closeEdit() {
      this.existUserToEdit = false;
    },
    saveUsers() {
      const parsed = JSON.stringify(this.users);
      localStorage.setItem("users", parsed);
      this.$buefy.notification.open({
        message: "State was saved!",
        type: "is-success"
      });
    },
    checkForm: function() {
      if (this.newUser.name && this.newUser.email) {
        return true;
      }
      this.errors = [];

      if (!this.newUser.name) {
        this.errors.push("Valid name required.");
      }
      if (!this.newUser.email) {
        this.errors.push("Valid email required.");
      }
      return false;
    },
    async created() {
      const response = await fetch(
        "https://jsonplaceholder.typicode.com/users"
      );
      this.usersFromNet = await response.json();
      for (let user in this.usersFromNet) {
        this.newUser = {
          id: this.newUser.id + 1,
          name: this.usersFromNet[user].name,
          email: this.usersFromNet[user].email,
          avatar: this.usersFromNet[user].website
        };
        this.users.push(this.newUser);
      }
      this.newUser = {
        id: this.newUser.id + 1,
        name: null,
        email: null,
        avatar: null
      };
      this.saveUsers();
    }
  }
};
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 0;
}
</style>
